importFrom("stats", "model.response", "model.matrix", "model.frame","aggregate","formula","as.formula", "median")
importFrom("graphics", "plot", "par")
importFrom("survival", "Surv", "coxph")
importFrom("Iso", "pava")

export(isoph, isoph)
export(disoph, disoph)
export(iso, iso)

S3method(plot, isoph, plot.isoph)
S3method(plot, disoph, plot.disoph)
